.wrap {
    position: fixed;
    top: 45px;
    right: 100px;
    background-color: #c8dcdc;
    border-radius: 10px;
    width: 180px;

    opacity: 0;
    transform: translateY(-10px);
    transition: 
        opacity 0.3s ease-out,
        transform 0.3s ease-out;
    pointer-events: none;
}

.wrap.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}