.wrap {
    color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    /*font-size: 24px;*/
    font-weight: 300;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1.425rem + 2.1vw) !important;
    /*background-image: url('https://phonoteka.org/uploads/posts/2021-05/1620110622_49-phonoteka_org-p-zolotoi-muzikalnii-fon-59.jpg')*/
}

.wrapGrid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    height: auto;
    width: 100%;
    /*color: `${store.appStore.theme.textPrimary} `*/
}

.item {
    /*width: 350px;*/
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.wrapCard {
    /*background-size: contain;*/
    height: 35vh;
    /*background: url('https://phonoteka.org/uploads/posts/2021-05/1620110622_49-phonoteka_org-p-zolotoi-muzikalnii-fon-59.jpg') 0 0/100% 100% no-repeat fixed;*/

}

.wrapCardImage {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
}

.wrapCardImage:hover {
    opacity: 0.1;

}

.imageBlockHover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

/*.imageBlockHover:hover {*/
/*    opacity: 1;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*}*/

.wrapImg {
    /*position: relative;*/
    /*max-width: 500px;*/
    /*max-height: 700px;*/
    /*height: 100%;*/
    /*background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) );*/
    /*z-index: 3;*/
    /*background-repeat: no-repeat;*/
    /*max-width: 600px;*/
    /*max-height: 350px;*/
    width: 700px;
    height: 700px;
    /*border: 5px solid #515151;*/
}

/*.img {*/
/*    !*background: rgba(0,0,0,.5);*!*/
/*    !*opacity:0.3;*!*/
/*    !*filter: blur();*!*/
/*    !*background-color:#000;*!*/
/*    !*position: absolute;*!*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*height: 90vh;*!*/
/*    !*background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) );*!*/
/*    !*z-index: 2;*!*/
/*}*/

.img {
    height: 100%;
    width: 100%;
}

.description {
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}

.descriptionDate {
    margin-top: 16px;
    font-weight: 600;
}